/* Custom Stylesheet */
/**
 * Styling for about me page
 */

#title {
    position: absolute;
    bottom: 0;
}

.quality-paragraph {
    font-size: large;
}

#index-banner {
    background-image: url("/img/pattern1.png");
    background-repeat: repeat;
}

#who-am-i-jumper {
    position:absolute;
    top:-25px;
}
#programming-jumper {
    position:absolute;
    bottom:-25px;
    right:19%;
}
#web-jumper {
    position:absolute;
    margin-top: -25px;
    right:19%;
}
.paragraph {
    font-size: large;
}

#who-am-i-image {
    margin-top: 80px;
}
#programming-image {
    height:100%;
    width:100%;
}
#web-summary-image {
    margin-top: 20px;
    height:100%;
    width:100%;
}
.parallax-container {
      height: 350px;
}
#who-am-i-container{
    position: relative;
}
#programming-section img{
    margin-top: 10px;
}
.language-item{
    font-size:large;
}
.popout-frame-image-container{
    height:250px;
    width:100%;
    background-repeat: no-repeat;
}
#java-image-container {
        background-color: #272822;
        background-image: url("/img/about/javaPic.png");
}
#c-sharp-image-container {
        background-color: #ffffff;
        background-image: url("/img/about/cSharpPic.png");
}
#js-image-container {
        background-color: #0c1021;
        background-image: url("/img/about/jsPic.png");
}
#bash-image-container {
        background-color: #000000;
        background-image: url("/img/about/bashPic.png");
}
.popout-back-btn{
    position:absolute;
    left:0;
    top:10px;
}

@media (max-width: 949px){
    .modal{
        width:100%;
    }

}
