#content {
    background: url(/img/parallax-belfast-titanic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.glass {
    max-height: 300px;
}

#content-card {
    margin-top: 80px;
    margin-bottom: 0;
}

#content-card-image-container {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: url("/img/contactBanner.jpg");
}

#content-card-title {
    font-size: 40pt;
    padding-left: 20px;
    position: absolute;
    bottom: 5px;
    color: white;
}

#content-card-content {
    padding: 20px;
}

.content-card-header {
    margin-bottom: 10px;
    font-size: 25pt;
}

#content-card-content p {
    padding: 0;
    margin: 0;
}

#email-form {
    padding: 20px;
}


/* label focus color */

.input-field input[type=text]:focus + label {
    color: #00b0ff;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #00b0ff;
    box-shadow: 0 1px 0 0 #00b0ff;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #00e676;
    box-shadow: 0 1px 0 0 #00e676;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #00b0ff;
}

.modal {
    max-height: 80%;
}

.input-field textarea[type=text]:focus + label {
    color: #00b0ff;
}

.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #00b0ff;
    box-shadow: 0 1px 0 0 #00b0ff;
}

.input-field textarea[type=text].valid {
    border-bottom: 1px solid #00e676;
    box-shadow: 0 1px 0 0 #00e676;
}

.input-field textarea[type=text].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

.input-field .prefix.active {
    color: #00b0ff;
}

@media (max-width: 949px) {
    .modal {
        width: 100%;
    }
}
