/* Custom Stylesheet */
/**
 * Styling for index page
 */

.icon-block {
  padding: 0 15px;
}
#index-banner{
    background-image:url("/img/pattern1.png");
}

.quality-paragraph{
        font-size:large;
}

@media (min-width: 950px){
    #avatarImage{
        width:24%;
        margin-top:1%;
        margin-right:38%;
        margin-left: 38%;
    }

}
@media (max-width: 949px){
    #avatarImage{
        width:50%;
        margin-top:1%;
        margin-right:25%;
        margin-left: 25%;
    }
}
