/* Custom Stylesheet */


/** * Styling for about me page */

#fixed-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 50;
    top: 0;
    left: 0;
}
#nav-mobile a {
    font-size: large;
    float: left;
}
#index-banner {
    background-image: url("/img/pattern1.png");
    background-repeat: repeat;
}
#programming-jumper {
    position: absolute;
    bottom: -25px;
    right: 19%;
}
#web-jumper {
    position: absolute;
    margin-top: -25px;
    right: 19%;
}
#tech-jumper {
    position: absolute;
    margin-top: 7px;
    right: 19%;
}
#academic-jumper {
    position: absolute;
    margin-top: -15px;
    right: 19%;
}
.paragraph {
    font-size: large;
}
#who-am-i-image {
    margin-top: 80px;
}
#programming-image {
    height: 100%;
    width: 100%;
}
#web-summary-image {
    margin-top: 20px;
    height: 100%;
    width: 100%;
}
.parallax-container {
    height: 350px;
}
#who-am-i-container {
    position: relative;
}
#programming-section img {
    margin-top: 10px;
}
.language-item {
    font-size: 16pt;
    color: #9e9e9e;
    font-weight: 500;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}
.language-item-sub {
    margin-top: 3px;
    color: #424242;
    margin-bottom: 10px;
}
.language-item-more {
    font-size: 14pt;
    color: #40c4ff;
    float: right;
    font-weight: 400;
}
.language-item:hover {
    color: #424242;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}
.education-institution {
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 2px;
}
.edu-modal-inst {
    font-size: 16pt;
    font-weight: 400;
    margin-bottom: 0;
    color: #9e9e9e;
    font-weight: 500;
}
.education-year {
    margin-top: 3px;
    color: #9e9e9e;
    font-size: large;
    margin-bottom: 10px;
}
.edu-modal-year {
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 2px;
    color: #9e9e9e;
}
.popout-frame-image-container {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
}
#java-image-container {
    background-color: #272822;
    background-image: url("/img/about/javaPic.png");
}
#c-sharp-image-container {
    background-color: #ffffff;
    background-image: url("/img/about/cSharpPic.png");
}
#js-image-container {
    background-color: #0c1021;
    background-image: url("/img/about/jsPic.png");
}
#bash-image-container {
    background-color: #000000;
    background-image: url("/img/about/bashPic.png");
}
#html-image-container {
    background-color: #202020;
    background-image: url("/img/about/htmlPic.png");
}
#design-image-container {
    background-color: #ffffff;
    background-image: url("/img/about/designPic.jpg");
}
#vc-image-container {
    background-color: #000000;
    background-image: url("/img/about/versionControlSummary.png");
}
#dev-tools-image-container {
    background-color: #b3b3b3;
    background-image: url("/img/about/devToolsPic.png");
    background-size: 100% 100%;
}
#linux-image-container {
    background-color: #ffffff;
    background-image: url("/img/about/databaseSummaryPic.png");
}
#db-image-container {
    background-color: #ffffff;
    background-image: url("/img/about/databaseSummaryPic.png");
}
#dev-methods-image-container {
    background-color: #000000;
    background-image: url("/img/about/devMethodsPic.jpg");
    background-size: 100%;
}
#fdse-image-container {
    background-color: #000000;
    background-image: url("/img/about/fdsePic.png");
    background-size: 100% 100%;
}
.popout-back-btn {
    position: absolute;
    left: 0;
    top: 10px;
}
#index-banner {
    background-image: url("/img/pattern1.png");
}
#download-button {
    color: white;
    font-size: 32px;
}
#banner-button {
    margin-top: 13%;
    margin-bottom: 0px;
}

/*Create z-depth-0 class for use in header*/

.z-depth-0,
nav {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

/*Override modal*/

.modal {
    max-height: 80%;
}
#programming-list {
    width: 45%;
}
#academic-list {
    width: 46%;
}
#design-list {
    width: 60%;
}
#tech-list {
    width: 45%;
}

/*Small Devices*/

@media (max-width: 949px) {
    .modal {
        width: 100%;
    }
    #bannerAvatarImage {
        width: 50%;
        margin-top: 25%;
        margin-right: 25%;
        margin-left: 25%;
    }
    #programming-list {
        width: 100%;
    }
    #tech-list {
        width: 100%;
    }
    #design-list {
        width: 100%;
    }
    #academic-list {
        width: 100%;
    }
    /*Override modal*/
    .modal {
        max-height: 100%;
        width: 100%;
    }
}

/*Large and medium Devices*/

@media (min-width: 950px) {
    #bannerAvatarImage {
        width: 24%;
        margin-top: 17%;
        margin-right: 38%;
        margin-left: 38%;
    }
}

/*Medium devices */

@media (min-width: 950px) and (max-width: 1400px) {
    #programming-list {
        width: 55%;
    }
    #design-list {
        width: 85%;
    }
    #tech-list {
        width: 65%;
    }
    #academic-list {
        width: 64%;
    }
    #bannerAvatarImage {
        width: 24%;
        margin-top: 7%;
        margin-right: 38%;
        margin-left: 38%;
    }
    #banner-button {
        margin-top: 1%;
        margin-bottom: 0px;
    }
}
