/* Custom Stylesheet */
/**
 * Styling for header, navmenu, and footer - common elements between screens
 */


#nav-mobile-header{
    height:125px;
    background-image:url('/img/pattern2.png')
}

    #nav-mobile-header img{
        height:50%;
        margin-left:5%;
        margin-top:12%;
        margin-right:0;
        float:left;
        position:relative;
    }
    #nav-mobile-header a{
        margin-left:5%;
        margin-top: 12%;
        font-size:large;
        float:left;
    }




