/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
#index-banner{
    background-image:url("img/pattern.png");
    background-repeat:repeat;
}
@media (min-width: 950px){
    #avatarImage{
        width:24%;
        margin-top:1%;
        margin-right:38%;
        margin-left: 38%;
    }
}
@media (max-width: 949px){
    #avatarImage{
        width:50%;
        margin-top:1%;
        margin-right:25%;
        margin-left: 25%;
    }
}
